.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}
.header {
  color: white;
  background-color: #192a56;
  padding: 14px;
  width: 100%;
}
.form{
 margin-top: 20px;
}
.data{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.data_header{
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0px 9px 0px 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: cornsilk;
  align-items: center;
}